<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AccountingHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AccountingHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="Telerik.Reporting" type="Telerik.Reporting.Processing.Config.ReportingConfigurationSection, Telerik.Reporting, Version=14.1.20.618, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net>
     <appender name="FileAppender" type="log4net.Appender.FileAppender">
       <file value="C:\Logs\MyLogFile.txt" />
       <appendToFile value="true" />
       <lockingModel type="log4net.Appennder.FileAppender+MinimalLock" />
       <layout type="log4net.Layout.PatternLayout">
         <conversionPattern value="%date{ABSOLUTE} [%thread] %level - %message%newline%exception" />
       </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
    <Telerik.Reporting>
    <Extensions>
      <Render>
        <Extension name="RTF" visible="false">
        </Extension>
        <Extension name="IMAGE" visible="false">
        </Extension>
        <Extension name="MHTML" visible="false">
        </Extension>
        <Extension name="CSV" visible="false">
        </Extension>
        <Extension name="XPS" visible="false">
        </Extension>
        <Extension name="XLS" visible="false">
        </Extension>
      </Render>
    </Extensions>
  </Telerik.Reporting>
  <connectionStrings>
    <add name="QCContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DatevDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QCTestContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DatevTestDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QCProductionContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DatevDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AccountingHelper.Reporting.Properties.Settings.DatevDatabase" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DatevDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
        <startup>
            
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-2021.3.914.45" newVersion="2021.3.1109.45" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Telerik.Windows.Controls.Input" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-2021.3.914.45" newVersion="2021.3.1109.45" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Telerik.Windows.Controls.Navigation" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-2021.3.914.45" newVersion="2021.3.1109.45" />
		</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.3.0" newVersion="2.11.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <AccountingHelper.Properties.Settings>
      <setting name="RootDirectory" serializeAs="String">
        <value>C:\Users\franz\OneDrive - Franz Bichlmaier Consulting\QuantCo</value>
      </setting>
      <setting name="DatevDirectory" serializeAs="String">
        <value>Datev</value>
      </setting>
      <setting name="TravelExpenseDirectory" serializeAs="String">
        <value>Reisekosten</value>
      </setting>
    </AccountingHelper.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <AccountingHelper.Properties.Settings>
      <setting name="EmailAccount" serializeAs="String">
        <value>bichlmaier@quantco.com</value>
      </setting>
      <setting name="BdoTo" serializeAs="String">
        <value>diana.schmidt@bdo.de</value>
      </setting>
      <setting name="BdoCc" serializeAs="String">
        <value>guenter.wagner@bdo.de</value>
      </setting>
      <setting name="BdoHr" serializeAs="String">
        <value>stefan.bahr@bdo.de;diana.schmidt@bdo.de</value>
      </setting>
      <setting name="IsTest" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmployeeDocuments" serializeAs="String">
        <value>EmployeeDocuments</value>
      </setting>
      <setting name="CEOTo" serializeAs="String">
        <value>blauth@quantco.com</value>
      </setting>
      <setting name="PdfVorlagePortait" serializeAs="String">
        <value>C:\Users\franz\OneDrive - Franz Bichlmaier Consulting\QuantCo\pdfVorlage.pdf</value>
      </setting>
      <setting name="ContractTemplates" serializeAs="String">
        <value>C:\Users\franz\OneDrive - Franz Bichlmaier Consulting\QuantCo\ContractTemplates</value>
      </setting>
    </AccountingHelper.Properties.Settings>
  </userSettings>
</configuration>
